.section {
  width: 100%;
  height: auto;
  margin-block-start: 24px;
  display: grid;
  grid-auto-rows: max-content;
  row-gap: $gap-container;
  &__title {
    border-block-end: 2px solid $strong-color-primary;
    font-size: $size-title-1;
    color: $soft-secondary-color;
  }
  &__cards {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(272px, 450px));
    gap: $gap-container;
  }
}
