.main-container {
  width: 100%;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: var(--color-primary);
  position: relative;
}

@media (prefers-color-scheme: dark) {
  .main-container {
    color: var(--text-primary);
    background: var(--color-primary);
  }
}

@media (prefers-color-scheme: light) {
  .main-container {
    color: var(--text-primary);
    background: var(--color-primary);
  }
}
