.portafolio {
  @include page-layout-grid(true);
}

.projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: $size-title-1;
  }
}

.project-list {
  width: 100%;
  height: auto;
  display: grid;
  row-gap: 1px;
}
