.card-profile {
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-rows: min-content;
  gap: 16px;
  .card-header {
    width: 100%;
    min-height: 58px;
    display: grid;
    grid-template-columns: 30% 70%;
    place-items: center;
    gap: 16px;
    &__image {
      width: 100%;
      max-width: 120px;
      height: 100%;
      max-height: 120px;
      background-color: bisque;
      border-radius: 50%;
    }
    &__name {
      width: 100%;
      font-size: 2.4rem;
      text-align: center;
    }
  }
  .card-description {
    width: 100%;
    font-size: 1.6rem;
  }
  .card-technologies {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    &__chip {
      width: 100%;
      display: flex;
      column-gap: 4px;
      align-items: center;
      list-style: none;
    }
  }
}

@media (min-width: 768px) {
  .card-profile {
    .card-header {
      grid-template-columns: 100%;
      grid-template-rows: 180px 60px;
      &__image {
        min-width: 180px;
        min-height: 180px;
      }
    }
  }
}
