:root {
  --header-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9),
    0 0px 2px rgba(0, 0, 0, 0.9);
  --burger-menu-icon: url("/assets/icons/burger-menu-dark.svg");
  --close-menu-icon: url("/assets/icons/close-menu-dark.svg");
}

.header {
  width: 100%;
  height: 64px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: var(--header-box-shadow);
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--color-secondary);
  &__logo {
    width: 64px;
    width: 64px;
  }
  &__nav-icon-mobile[type="checkbox"] {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 24px;
    appearance: none;
    background: var(--burger-menu-icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  &__nav-icon-mobile:checked + .nav {
    transform: translateX(0%);
  }
  &__nav-icon-mobile:checked {
    background: var(--close-menu-icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .nav {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 100px min-content;
    justify-self: center;
    place-items: center;
    position: absolute;
    top: 64px;
    left: 0;
    background-color: var(--color-secondary);
    transform: translateX(100%);
    transition: all 0.3s ease-in;
    .pages {
      width: 100%;
      height: auto;
      display: grid;
      grid-auto-rows: 52px;
      place-items: center;
    }
    .social-networks {
      width: 180px;
      height: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
    }
    .color-mode {
      width: 70px;
      height: 100%;
      display: grid;
      grid-auto-rows: min-content;
      place-content: center;
      place-items: center;
      row-gap: 2px;
      &__text {
        font-size: 1.2rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__nav-icon-mobile {
      display: none;
    }
    .nav {
      width: 450px;
      height: 64px;
      grid-template-rows: 100%;
      grid-template-columns: 200px 180px 70px;
      position: relative;
      top: 0;
      background-color: transparent;
      transition: none;
      transform: none;
      .pages {
        grid-auto-flow: column;
        grid-auto-rows: auto;
      }
      .social-networks {
        grid-auto-rows: auto;
      }
    }
  }
}

[color-mode="dark"] {
  --header-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9),
    0 0px 2px rgba(0, 0, 0, 0.9);
  --burger-menu-icon: url("/assets/icons/burger-menu-dark.svg");
  --close-menu-icon: url("/assets/icons/close-menu-dark.svg");
}

[color-mode="light"] {
  --header-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15),
    0 0px 2px rgba(0, 0, 0, 0.1);
  --burger-menu-icon: url("/assets/icons/burger-menu-light.svg");
  --close-menu-icon: url("/assets/icons/close-menu-light.svg");
}
