:root {
  // $color-primary-light: #fff;
  // $color-primary-dark: #0e0e10;
  // $color-secondary-dark: #161b22;

  // $text-primary-dark: #26282b;
  // $text-primary-light: #fff;
  // $text-secondary-dark: #616161;
  // $text-secondary-light: #bdbdbd;
  --color-primary: #0e0e10;
  --color-secondary: #161b22;

  --text-primary: #fff;
  --text-secondary: #bdbdbd;

  --header-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9),
    0 0px 2px rgba(0, 0, 0, 0.9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #0e0e10;
    --color-secondary: #161b22;

    --text-primary: #fff;
    --text-secondary: #bdbdbd;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #fff;
    --color-secondary: #fff;

    --text-primary: #26282b;
    --text-secondary: #bdbdbd;
  }
}

[color-mode="dark"] {
  --color-primary: #0e0e10;
  --color-secondary: #161b22;

  --text-primary: #fff;
  --text-secondary: #bdbdbd;
}

[color-mode="light"] {
  --color-primary: #fff;
  --color-secondary: #fff;

  --text-primary: #26282b;
  --text-secondary: #bdbdbd;
}
