:root {
  --color-primary: #010409;
  --color-secondary: #0d1117;

  --text-primary: #f7f7f8;
  --text-secondary: #8b949e;
  --text-hover: #58a6ff;
  --section-title-size: 2.4rem;

  --header-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9),
    0 0px 2px rgba(0, 0, 0, 0.9);

  --card-border: 1px solid #616161;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #010409;
    --color-secondary: #0d1117;

    --text-primary: #f7f7f8;
    --text-secondary: #8b949e;

    --card-border: 1px solid #616161;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #f7f7f8;
    --color-secondary: #f7f7f8;

    --text-primary: #26282b;
    --text-secondary: #57606a;

    --card-border: 1px solid #d0d7de;
  }
}

[color-mode="dark"] {
  --color-primary: #010409;
  --color-secondary: #0d1117;

  --text-primary: #f7f7f8;
  --text-secondary: #8b949e;

  --card-border: 1px solid #616161;
}

[color-mode="light"] {
  --color-primary: #f7f7f8;
  --color-secondary: #f7f7f8;

  --text-primary: #26282b;
  --text-secondary: #57606a;

  --card-border: 1px solid #d0d7de;
}

@mixin card-style {
  padding: 16px;
  border: var(--card-border);
  border-radius: 8px;
  background-color: var(--color-secondary);
}
