@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
// ---Global styles---
@import "./globals";

// ---Components---
@import "../components/Inputs/ToggleSwitch/toggle-switch";

@import "../components/Navigation/CustomLink/custom-link";
@import "../components/Navigation/Header/header";

@import "../components/Layout/layout";

@import "../components/DataDisplay/ProfileCard/profile-card";
@import "../components/DataDisplay/ProjectCard/project-card";
@import "../components/DataDisplay/ProjectList/project-list";
@import "../components/DataDisplay/Technologies/technologies";
@import "../components/DataDisplay/JobCard/job-card";
@import "../components/DataDisplay/JobList/job-list";

// ---Pages---
@import "./main-page";
@import "./about-page";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

#__next {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--text-primary);
    background: var(--color-primary);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: var(--text-primary);
    background: var(--color-primary);
  }
}
