.project-card {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: grid;
  grid-auto-rows: min-content;
  align-items: center;
  gap: 12px;
  background-color: var(--color-secondary);
  border-radius: 8px;
  border: var(--card-border);
  &__repository {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-primary);
  }
  &__repository:hover {
    color: var(--text-hover);
  }
  &__description {
    font-size: 1.6rem;
    color: var(--text-secondary);
  }
}
